.containerPage{
  display: flex;
  height: 100%;
}

.containerContent{
  margin: 172px  auto;
  border-radius: 10px;
}

.wrapperContent{
  border-radius: 10px;
}

.wrapperText404{
  font-weight: 600;
  & h1{
    font-size: 42px;
  }
}