.footer {
  padding: 2rem 0;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  filter: brightness(0);
}

.iconsDark {
  filter: invert();
}

.dhLogo {
  max-width: 50%;
}

.icon {
  max-width: 2rem;
  height: auto;
}